.CartComponentMainDiv {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}


.CartProductContent {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  display: flex;
}

.CartComponentMainHeader {
  margin-bottom: 1.5rem;
}

.breadcrumb {
  color: #7d7d7d;
}
.breadcrumbCurrent{
  color: #e3e3e3;
}

.breadcrumb li {
  float: left;
  padding: 0 6px;
}

.breadcrumb li:first-child {
  padding-left: 2px;
}

.breadcrumb li:not(:last-child)::after {
  content: " \276f";
  padding-left: 8px;
}

.count {
  float: right;
  color: #a7a7a7;
}


/* --- PRODUCT LIST --- */
.products {
  /* border-top: 1px solid #ddd; */
  width: 100%;
}

.products>li {
  padding: 1rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.row {
  position: relative;
  overflow: auto;
  width: 100%;
  padding: 0;
}

.col,
.quantity,
.remove {
  float: left;
}

.col.left {
  width: 70%;
  display: flex;
  padding: 0;
}

.thumbnailImages {
  /* max-width: 100%; */
  vertical-align: middle;
  border-radius: 4px;
  height: 12rem;
}

.col.right {
  width: 30%;
  display: flex;
  flex: 0.3 1;
  align-items: center;
}

.CartComponentDetail {
  padding: 0 0.5rem;
  line-height: 2.2rem;
}

.CartComponentDetail .name {
  font-size: 2rem;
  font-family: "Lacquer", system-ui;
}

.CartComponentDetail .description {
  color: #7d7d7d;
  font-size: 1rem;
}

.CartComponentDetail .price {
  font-size: 1.5rem;
}

.quantity,
.remove {
  width: 50%;
  text-align: center;
}

.remove svg {
  width: 60px;
  height: 60px;
}

.quantity>input {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  position: relative;
  left: calc(50% - 30px);
  background: #fff;
  border: 2px solid #ddd;
  color: #7f7f7f;
  text-align: center;
  font: 600 1.5rem Helvetica, Arial, sans-serif;
}

.quantity>input:hover,
.quantity>input:focus {
  border-color: #f58551;
}

.close {
  fill: #7d7d7d;
  transition: color 150ms linear,
    background-color 150ms linear,
    fill 150ms linear,
    150ms opacity linear;
  cursor: pointer;
}

.close:hover {
  fill: #f58551;
}

.CartComponentButton {
  background-color: #16cc9b;
  border: 2px solid #16cc9b;
  color: #ffffff;
  transition: all 0.25s linear;
  cursor: pointer;
}

.CartComponentButton::after {
  position: relative;
  right: 0;
  content: " \276f";
  transition: all 0.15s linear;
}

.CartComponentButton:hover {
  background-color: #f58551;
  border-color: #f58551;
}

.CartComponentButton:hover::after {
  right: -5px;
}

.CartComponentButton:focus {
  outline: none;
}



/* --- SUMMARY --- */
.promotion,
.summary,
.checkout {
  float: left;
  height: fit-content;
  width: 100%;
  margin-top: 1.5rem;
}

.checkout {
  margin: 0;
}

.promotion>.CartProductContentLabel {
  float: left;
  width: 100%;
  margin-bottom: 1rem;
}

.promotion>.CartProductPromotionInput {
  float: left;
  width: 80%;
  font-size: 1rem;
  padding: 0.4rem 0 0.5rem 1.6rem;
  border: 2px solid #16cc9b;
  border-radius: 2rem 0 0 2rem;
}

.promotion:hover>.CartProductPromotionInput {
  border-color: #f58551;
}

.promotion>button {
  float: left;
  width: 20%;
  padding: 0.5rem 0;
  border: 1px solid #16cc9b;
  border-radius: 0 2rem 2rem 0;
}

.promotion:hover>button {
  border-color: #f58551;
  background-color: #f58551;
}

.promotion>button::after {
  content: "\276f";
  font-size: 1rem;
}

.summary {
  font-size: 1.2rem;
  text-align: right;
}

.summary ul li {
  list-style: none;
  padding: 0.5rem 0;
}

.summary ul li span {
  display: inline-block;
  width: 30%;
}

.summary ul li.total {
  font-weight: bold;
}

.checkout {
  display: flex;
  justify-content: flex-end;
}

.checkout>button {
  font-size: 1.2rem;
  padding: 0.8rem 2.8rem;
  border-radius: 1.5rem;
}

.empty-product {
  text-align: center;
}

.empty-product>button {
  font-size: 1.3rem;
  padding: 10px 30px;
  border-radius: 5px;
}


.CartComponentRemoveItemBtn {
  display: none;
}



/* --- SMALL SCREEN --- */
@media all and (max-width: 599px) {
  .thumbnailImages {
    /* display: none; */
    height: 7rem;
  }

  .quantity>input {
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
  }

  .remove svg {
    width: 40px;
    height: 40px;
  }

  .CartComponentDetail {
    padding: 0;
  }

  .breadcrumb {
    display: inline;
  }

  .col.right {
    /* width: 25%;
    flex: 0.1 1; */
    display: none;
  }

  .col.left {
    width: 100%;
  }

  .CartProductContent {
    width: 95%;
    flex-direction: column;
  }

  .CartComponentDetail {
    padding-left: 1rem;
  }

  .CartComponentDetail .name {
    font-size: 1.5rem;
  }

  .products {
    padding: 0rem 0rem 0rem 1rem;
    margin: 0;
  }

  .CartComponentMainDiv {
    width: 95%;
  }

  .summary {
    padding-right: 0.5rem;
  }

  .CartComponentDetail .description {
    font-size: 0.7rem;
    line-height: 1.3rem;
  }

  .products>li {
    display: flex;
    flex-direction: column;
  }

  .CartComponentRemoveItemBtn {
    display: block;
    position: absolute;
    bottom: 4vw;
    right: 12px;
  }

  .promotion>button {
    top: 0;
  }

}
@media (max-width:388px){
  .products>li {
    padding-bottom: 0.2rem;
  }
}
@media (max-width:376px){
  .CartComponentDetail .description {
    display: -webkit-box; /* Set as flexbox */
    -webkit-box-orient: vertical; /* Set vertical orientation */
    -webkit-line-clamp: 2; /* Limit to two lines */
    overflow: hidden; 
  }
}

/* --- MEDIUM & LARGE SCREEN --- */
@media all and (min-width: 600px) {


  .container {
    width: 75%;
    max-width: 960px;
  }

  .thumbnail,
  .CartComponentDetail {
    float: left;
  }

  .thumbnail {
    width: 35%;
  }

  .CartComponentDetail {
    width: 65%;
  }

  .promotion,
  .summary {
    width: 50%;
  }

  .checkout {
    width: 100%;
  }

  .checkout,
  .summary {
    text-align: right;
  }
}

/* --- LARGE SCREEN --- */
@media all and (min-width: 992px) {}